@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-fallback: sans-serif;
  font-weight: 400;
  src: url(./fonts/nunito/Nunito-Regular.woff2) format('woff2');
}
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-fallback: sans-serif;
  font-weight: 600;
  src: url(./fonts/nunito/Nunito-SemiBold.woff2) format('woff2');
}