.single-properties {
  .property__gallery {
    .property__gallery-full {
      max-height: 30vw;
      min-height: 30vw;
      height: 100%;
    }
    .property__gallery-left {
      max-height: 30vw;
      min-height: 30vw;
    }
    .property-main-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    .property__gallery-right {
      max-height: 30vw;

      .flex-container {
        height: 100%;
        .flex-item {
          height: 50%;

          .property-gallery-image {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    img {
      max-height: 100%;
    }
    .property__gallery-view-all {
      bottom: 30px;
      right: 30px;

      .property__gallery-main-cta {
        color: $secondary;
        background-color: $white;
        padding: 15px 25px;
        outline: none;
      }
    }
  }
  .property {
    padding-top: 50px;
    padding-bottom: 50px;

    .uagb-section__inner-wrap {
      width: 100%;
      max-width: 100%;

      .wp-block-separator {
        margin-bottom: 40px;
        margin-top: 40px;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: $separator;
        border-style: solid;
        background-color: transparent !important;
        opacity: 1;
      }

      ol {
        margin-left: 0;
        list-style: none;
        counter-reset: my-awesome-counter;

        strong {
          font-weight: 400;
          color: $dark-color;
          font-size: 18px;
          line-height: 26px;
        }

        li {
          counter-increment: my-awesome-counter;
          margin: 0.25rem;
        }
        li:before {
          content: counter(my-awesome-counter);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          line-height: 30px;
          color: $primary;
          text-align: center;
          background-color: $primary-light;
          left: -10px;
          position: absolute;
        }

      }
    }

    .property__short-info {
      
      .property__location {
        color: $primary;
        font-size: 14px;
        line-height: 26px;
        padding-left: 15px;
        position: relative;
      }
      .property__location:before {
        content: '';
        background-image: $location-icon;
        width: 10px;
        height: 25px;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
      }

      .property__short-info-items {
        span {
          padding-left: 25px;
          padding-right: 20px;
          position: relative;
          font-size: 14px;
          line-height: 26px;
          color: $dark-color;
        }
        span:before {
          content: '';
          width: 15px;
          height: 25px;
          background-size: contain;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
        }
        .property__bedrooms:before {
          background-image: $bedroom-icon;
        }
        .property__bathrooms:before {
          background-image: $bathroom-icon;
        }
        .property__capability:before {
          background-image: $capability-icon;
        }
        .property__square:before {
          background-image: $square-icon;
        }
      }
    }
    .property__amenities {
      .property__amenities-wrapper {
        column-count: 4;
        column-gap: 30px;

        span {
          font-size: 14px;
          line-height: 26px;
          color: $dark-color;
          padding-left: 30px;
          position: relative;
        }
        span:before {
          content: '';
          display: inline-block;
          transform: rotate(
                          45deg
          );
          height: 14px;
          width: 7px;
          position: absolute;
          left: 5px;
          top: 5px;
          border-bottom: 2px solid $primary;
          border-right: 2px solid $primary;
        }
      }
    }

    .property__reviews {
      .property__reviews-wrapper {
        padding: 25px;
        box-shadow: 0 -30px 60px rgba(0, 0, 0, 0.03);

        .d-flex {
          margin-bottom: 10px;
        }
        .d-flex,
        .property__reviews-name,
        .property__reviews-value {
          height: 26px;
        }
        .property__reviews-progress-bar {
          min-width: 150px;
          height: 5px;
          background-color: $progress-bar-bg;
          border-radius: 2.5px;

          .progress-bar {
            background-color: $primary;
            border-radius: 2.5px;
          }
        }
        .property__reviews-value {
          width: 40px;
        }
      }
      .property__reviews-text-wrapper {
        padding-top: 20px;

        .property__reviews-text-item {
          border-top: 1px $separator solid;
          padding: 30px 0 20px;
        }
        .property__reviews-text-item:first-child {
          border-top-width: 0;
        }
        .property__reviews-text-item.sub-item {
          padding-left: 40px;
          border-top-width: 0;
        }
        .property__reviews-text__photo {
          margin-right: 25px;

          span {
            background-color: $progress-bar-bg;
            width: 70px;
            height: 70px;
          }
        }
        .property__reviews-text__text-wrapper {
          width: calc(100% - 95px);
          .property__reviews-text__name {
            font-size: 14px;
            line-height: 26px;
            color: $dark-color;
          }
          .property__reviews-text__date {
            font-size: 14px;
            line-height: 26px;
          }
          .property__reviews-text__reply {
            span {
              background-color: $reply-bg;
              font-size: 14px;
              line-height: 26px;
              padding: 0 10px;
              cursor: pointer;

              svg {
                padding-bottom: 2px;
              }
            }
          }
          .property__reviews-text__body-text {
            margin-top: 15px;
          }
        }
      }
    }
    .property__section-separator {
      margin: 120px auto;
      width: 100%;
      max-width: 750px;
      background-color: $separator;
      height: 1px;
    }
  }
  .property__single-sidebar {
    .property__sidebar-price-and-info {
      padding: 25px 10px;

      .property__sidebar-price {
        font-weight: 700;
      }
      span {
        color: $dark-color;
        font-size: 17px;
        line-height: 27px;
      }
      .property__sidebar-rating {
        span {
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
    .acf-form {
      padding: 20px 0;

      .acf-required {
        color: $dark-color;
      }
      .af-submit-button {
        background-color: $primary;
        color: $white;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        padding: 15px 30px;
        width: 100%;
        border: none;
        border-radius: 4px;
      }
      .af-label {
        color: $dark-color;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
      }
      .acf-field {
        border: none !important;
        padding: 10px;
      }
      .acf-date-picker {
        input {
          height: 53px;
        }
      }
      .af-field-guests {
        select {
          height: 53px;
          border-radius: 4px;
        }
      }
    }
    .textwidget {
      a {
        color: $secondary;
      }
    }
  }
}