.single-properties {
  .property__gallery {
    .property__gallery-full {
      max-height: 30vw;
      min-height: 30vw;
      height: 100%;
    }
    .property__gallery-left {
      max-height: 30vw;
      min-height: 30vw;
    }
    .property-main-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    .property__gallery-right {
      max-height: 30vw;

      .flex-container {
        height: 100%;
        .flex-item {
          height: 50%;

          .property-gallery-image {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    img {
      max-height: 100%;
    }
    .property__gallery-view-all {
      bottom: 30px;
      right: 30px;

      .property__gallery-main-cta {
        color: $secondary;
        background-color: $white;
        padding: 15px 25px;
        outline: none;
      }
    }
  }
  .property {
    padding-top: 50px;
    padding-bottom: 50px;

    .uagb-section__inner-wrap {
      width: 100%;
      max-width: 100%;

      .wp-block-separator {
        margin-bottom: 40px;
        margin-top: 40px;
        border-width: 2px;
      }

      ol {
        margin-left: 0;
        list-style: none;
        counter-reset: my-awesome-counter;

        strong {
          font-weight: 400;
          color: $dark-color;
          font-size: 18px;
          line-height: 26px;
        }

        li {
          counter-increment: my-awesome-counter;
          margin: 0.25rem;
        }
        li:before {
          content: counter(my-awesome-counter);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          line-height: 30px;
          color: $primary;
          text-align: center;
          background-color: $primary-light;
          left: -10px;
          position: absolute;
        }

      }
    }

    .property__short-info {
      padding-bottom: 40px;
      
      .property__location {
        color: $primary;
        font-size: 14px;
        line-height: 26px;
        padding-left: 15px;
        position: relative;
      }
      .property__location:before {
        content: '';
        background-image: $location-icon;
        width: 10px;
        height: 25px;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
      }

      .property__short-info-items {
        span {
          padding-left: 25px;
          padding-right: 20px;
          position: relative;
          font-size: 14px;
          line-height: 26px;
          color: $dark-color;
        }
        span:before {
          content: '';
          width: 15px;
          height: 25px;
          background-size: contain;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
        }
        .property__bedrooms:before {
          background-image: $bedroom-icon;
        }
        .property__bathrooms:before {
          background-image: $bathroom-icon;
        }
        .property__capability:before {
          background-image: $capability-icon;
        }
        .property__square:before {
          background-image: $square-icon;
        }
      }
    }
    .property__amenities {
      .property__amenities-wrapper {
        column-count: 4;
        column-gap: 30px;

        span {
          font-size: 14px;
          line-height: 26px;
          color: $dark-color;
          padding-left: 30px;
          position: relative;
        }
        span:before {
          content: '';
          display: inline-block;
          transform: rotate(
                          45deg
          );
          height: 14px;
          width: 7px;
          position: absolute;
          left: 5px;
          top: 5px;
          border-bottom: 2px solid $primary;
          border-right: 2px solid $primary;
        }
      }
    }

    .property__reviews {
      .d-flex {
        margin-bottom: 10px;
      }
      .d-flex,
      .property__reviews-name,
      .property__reviews-value {
        height: 26px;
      }
      .property__reviews-progress-bar {
        min-width: 150px;
        height: 5px;
        background-color: $progress-bar-bg;
        border-radius: 2.5px;

        .progress-bar {
          background-color: $primary;
          border-radius: 2.5px;
        }
      }
      .property__reviews-value {
        width: 40px;
      }
    }
  }
}